<html color-mode="user" lang="en">
  <head>
  <!-- ga -->
    <%= render('views/ga.html') %>

  <!-- deps -->
    <script type="module" src="/assets/js/turbo.es2017-esm.js" defer></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fluid.classless.fuchsia.min.css"
    >

  <!-- defaults -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />

  <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

  <!-- meta -->
    <%
      site        = 'https://drawohara.io'
      title       = '@drawohara'
      description = 'my insides are made out of outside. i bite.'
      image       = 'https://drawohara.io/media/mick.jpg'

      if data
        title       = data.get(:og, :title) || data.get(:title) || 'nothing to see here.'
        description = data.get(:og, :description) || data.get(:description) || 'move along.'
        image       = data.get(:og, :image) || data.get(:image) || image
      end

      absolutify = proc{|url| url.index('://') ? url : "#{ site }#{ ('/' + url).squeeze('/') }"}

      image = absolutify[image]
    %>
    <title><%= title %></title>

    <meta property="og:title" content="<%= title %>"/>
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image" content="<%= image %>" />

    <meta property="site:route" content="<%= route.path.to_json.html_safe %>">
    <meta property="site:params" content="<%= params.to_json.html_safe %>">
    <meta property="site:path_info" content="<%= path_info.to_json.html_safe %>">

    <style>
      /* anti pico */
      a {text-decoration: none !important; }

      /* anti turbo */
      html { transition: none !important; }
      .turbo-progress-bar { visibility: hidden; }

      /* anti progressive */
      html { margin: 1em; }
      img { display: block; text-align: center; }
    </style>

    <script>
      document.addEventListener("turbo:load", function() {
        const progressBar = document.querySelector('.turbo-progress-bar');
        if (progressBar) {
          progressBar.remove();
        }
      });
    </script>
  </head>

  <body>
    <header>
      <%= exports.fetch(:header){ render('views/header.erb') } %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <%= exports.fetch(:footer){ render('views/footer.erb') } %>
    </footer>
  </body>
</html>
