<% require 'kramdown' %>
<% entries = data.fetch(:entries, []) %>

<% if entries.empty? %>

  <p>
    no entries yet.
  </p>

  <p>
    <small>
      microblog entries are created via
      <a href="https://github.com/ahoward/drawohara.io/issues/new?template=microblog.yml" target="_blank">github issues</a>.
    </small>
  </p>

<% else %>

  <% entries.each do |entry| %>

    <article>
      <header>
        <% if entry['title'] && !entry['title'].empty? %>
          <h3><%= entry['title'] %></h3>
        <% end %>

        <small>
          <em><%= entry['kind'] %></em>
          &mdash;
          <%= entry['timestamp'].strftime('%B %d, %Y at %I:%M %p') %>
          <% if entry['tags'] && !entry['tags'].empty? %>
            &mdash;
            <% entry['tags'].each do |tag| %>
              <code>#<%= tag %></code>
            <% end %>
          <% end %>
          &mdash;
          <a href="<%= entry['url'] %>" target="_blank">issue #<%= entry['issue'] %></a>
        </small>
      </header>

      <div>
        <%= Kramdown::Document.new(entry['body'] || '').to_html.html_safe %>
      </div>
    </article>

    <hr>

  <% end %>

<% end %>
