<%
  site        = 'https://drawohara.io'
  title       = '@drawohara'
  description = 'my insides are made out of outside. i bite.'
  image       = 'https://drawohara.io/media/mick.jpg'

  if data
    title       = data.get(:og, :title) || data.get(:title) || 'nothing to see here.'
    description = data.get(:og, :description) || data.get(:description) || 'move along.'
    image       = data.get(:og, :image, :url) || data.get(:og, :image) || data.get(:image) || image
  end

  absolutify = proc{|url| url.index('://') ? url : "#{ site }#{ ('/' + url).squeeze('/') }"}

  img = absolutify[image]

  width = data.get(:og, :image, :width).to_s rescue nil
  type = data.get(:og, :image, :type).to_s rescue nil

  unless type
    ext = img.split('.', 2).last

    case ext
      when /jpg|jpeg/
        type = 'image/jpeg'
      when /png/
        type = 'image/png'
      when /gif/
        type = 'image/gif'
    end
  end

  image =
    Map.new(
      url: img,
      width: width,
      type: type
    )
%>
<title><%= title %></title>

<meta property="og:title" content="<%= title %>"/>
<meta property="og:description" content="<%= description %>" />
<meta property="og:image" content="<%= image.url %>" />
<% if image.width %>
  <meta property="og:image:width" content="<%= image.width %>" />
<% end %>
<% if image.type %>
  <meta property="og:image:type" content="<%= image.type %>" />
<% end %>
