<%
  quotes = site.dato.fetch(:quotes)
%>

<p>
i struggle with words, and writing.  being somewhat dislexic and more that a
little adhd.  but i like to listen the words of some people.  these are some
of my favorites.
</p>

<% quotes.each do |author, config|
  slug = author.gsub(/\s/, '-')
  name = slug.split('-').first
  url = config.fetch(:url)
  list = config.fetch(:quotes)
%>
  <hr>
  <h5>
    <a href="#<%= slug %>" name="<%= slug %>"><%= author %></a>
  </h5>

  <blockquote>
    <ul>
      <% list.each do |quote| %>
        <li>
          <%= quote %>
        </li>
      <% end %>
    <ul>
  </blockquote>

  <small>
    <a href="<%= url %>" target="_blank">about <%= name %> &rarr;</a>
  </small>
<% end %>
